/***
NO OLVIDAR QUE CSS VA HACIENDO CAMBIOS DE ARRIBA HACIA ABAJO, DANDO MAS IMPORTANCIA A
LOS ULTIMOS CAMBIOS QUE SE REALICES 
**/


html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px    cambia el valor de pixeles 1rem = 10px **/
}
*, *:before, *:after { /*es un codigo pra evitar que el padding actue de forma extrana en a e img*/
    box-sizing: inherit;
}
body{ /** se agregara a todo el body completo**/
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2; /* esto no va en rem solo en enteros*/
}   
/**
GLOBALES
**/
img{
    max-width: 100%;
}
.contenedor{
    width: 95%; 
    max-width: 120rem;
    margin: 0 auto; /**nos sirve para centrar los elementos**/
}
h1{
    font-size: 3.8rem; /*38pixeles*/
}
h2{
    font-size: 3.4rem; 
}
h3{
    font-size: 3rem; 
}
h4{
    font-size: 2.6rem; 
}



/**
UTILIDADES
**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{ /*una utilidad para poner a clases y utilicen directamente estas utilidades*/
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.d-block {
    display: block!important; /*hace que tome todo el espacio disponible*/
}

/**
HEADER 
**/
.site-header.inicio{ /*afecta a todo el header*/
    background-image: url(../img/header.jpg);
    background-position: center; /**la imagen empieza desde el centro y se expande**/
    background-size: cover; /**para que la imagen sea vea bien y cubra la pantalla**/
    height: 100vh; /*ajusta el tamano de la img de background*/
    min-height: 60rem; /*necesario poner para cuando abra la pagina desde un celular etc*/
}

.barra{
    display: flex; /**es como hacer que el contenedor se convierta en un HBox o Vbox , por default Hbox en java**/
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center; /**permite alinear verticalmente  eso por como esta el flex los nodos dentro de barra**/
}
.navegacion a{ /**al poner la a selecciono los hijos que tiene navegacion que sean del tipo a
                y se producen los cambios**/
    color:white;
    text-decoration: none; /*quita llo subrayo a los link de navegacion*/
    margin-right: 1.8rem;
    font-size: 2rem;
}
.navegacion a:hover{
    color:grey; /**cambia de color al pasar el mouse sobre los elementos que estan en el nav**/
}

.navegacion a:last-of-type{ /**buena practica por si acaso el navagador cambia**/
    margin: 0;
}
.contenido-header{ /*flexbox solo afecta el primer nivel de hijos*/
    height: 100%; /*el hijo toma toda la altura del padre*/
    display: flex;
    flex-direction: column; /*para que alinea como columna el contenedor navegacion despues de
                            haber puesto la barra*/
    justify-content: space-between; /*ahora hara espacio verticalmente*/
    
}
.contenido-header h1{
    color:white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2; /*interlineado para dejar espacion en el h1*/
}
/**
BODY NOSOTROS
**/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.icono{
    flex-basis: calc(33.3% - 1rem);/*permite hacer calculos en html en relacion a porcentajes ademas de
                                    que al hacer porcentaje me aseguro que tengan el mismo espacio*/

    text-align: center; /*me permite centrar el texto aun no se por que align-content no funciono*/

}
.icono h3{ /*solo cambia los h3 que son hijos de icono*/
    text-transform: uppercase;
}
/**
BODY MAIN
**/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;  
}
    
.anuncio{
    flex: 0 0 calc(33.3% - 1rem); /*con esta linea funciona el hacer espacio entre los anuncios de las casas*/
    border: 1px solid #b5b5b5 ;
    background-color: #f5f5ff;
    
}
.contenido-anuncio {
    padding: 2rem; /*espacio hacia adentro del contenedor*/
}
.contenido-anuncio h3,  /** necesario para remover margin que el navegador suele poner por defecto **/
.contenido-anuncio p  {
    margin: 0;
}
.precio{
    color: #72b100;
    font-weight: 700 ;

}
.ver-todas{
    display: flex;
    justify-content: flex-end;
}
/**
BOTONES
**/
.boton{
    color: white;
    font-weight: 700; /*hacemos mas gruesas las letras*/
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem; /*un rem hacia arriba y abajo ...*/
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}
.boton-amarillo{
    background-color: #e08709;
}
.boton-verde{
    background-color: #71b100;
}
/**
SECCION CONTACTANOS
*/
.imagen-contacto{
background-image: url(../img/encuentra.jpg);
background-position: center; /**la imagen empieza desde el centro y se expande**/
background-size: cover; /**para que la imagen sea vea bien y cubra la pantalla**/
height: 53vh;
min-height: 20rem; /*necesario poner para cuando abra la pagina desde un celular etc*/
display: flex;
align-items: center;
}
.contenido-contacto{
    flex: 0 0 95% ; /*detecta cuantos elementos hay y les asigna espacio segun el espacio disponible*/
    color: white;
}
.contenido-contacto p {
    font-size: 1.8rem;    
}
/**
ICONOS
**/
.iconos-caracteristicas{
    list-style-type: none;  /* es para definir el estilo de la vineta que acompana al icono*/
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.iconos-caracteristicas li{
    display: flex;
    flex:1;
}
.iconos-caracteristicas li img{
    margin-right: 2rem;

}
/**
SECCION INFERIOR
*/
.seccion-inferior{
    display: flex;
    justify-content: space-between;
}
.seccion-inferior .blog{                /*la parte del blog ocupara el 60% del div en el que esta*/
    flex-basis: 60%;
}
.seccion-inferior .testimoniales{
    flex-basis:  calc(40% - 2rem);
}
.entrada-blog{
   margin-bottom: 2rem;
   display: flex;
   justify-content: space-between;
}
.entrada-blog:last-of-type {
    margin-bottom: 0;
}
.entrada-blog .imagen{
    flex-basis: 40%; /*va ha hacer mas pequena la imagen */
}
.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem); /*importante siempre dejar espacio para realizar las operaciones de calc*/
}
.texto-entrada a {
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after{ /*Peseudo elemento esto quiere decir crea un nuevo elemento despues de h4*/
    content: '';
    display: block;
    width: 15rem; /*largo*/
    height: .5rem; 
    background-color:#71b100;
    margin-top:1rem ;
}
.texto-entrada span{
    color:#e08709

}